#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  align-items: center;
  gap: 10px;
}

#toast-close-button {
  background: none;
  border: none;
  cursor: pointer;
}
