@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

.App {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 95vh;
    width: 95vw;
    border: 1px solid #ccc;
  }
}
