.flexAndColumnDirectionStyle {
  display: flex;
  flex-direction: column;
}

.description-modal-content {
  justify-content: space-between;
  width: 350px;
  height: 462px;
  padding-bottom: 10px;
  position: relative;
}

.description-fields {
  height: 100%;
  justify-content: space-around;
  padding-bottom: 10px;
}
